header {
    background-color: rgb(143, 188, 216);
    width: 100%;
    height: 65px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; 
}

header img {
    height: 65px; 
    width: auto; 
}

nav ul {
    display: flex;
    flex-direction: row;
    padding: 0; 
    margin: 0; 
}

nav ul li {
    list-style-type: none;
    padding: 0 10px; 
}

nav a {
    color: white; 
    text-decoration: none;
}
.titulo{
    display:flex;
    align-items: center;
    justify-content: center;
    margin: 30px 0 30px 0;
}

.razon{
    display: flex;
    justify-content: center;
    text-align: center;
}
.razon p{
    color: rgb(177, 132, 84);

}
img{
    width: 150px;
}
h1{
    font-size: 60px;
    color: rgb(250, 221, 234);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

p{
    font-family: Arial, Helvetica, sans-serif;
}

h2{
    font-size: 27px;
    color: rgb(81, 196, 241);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.contenedor{
    display: flex;
    margin: 0px 0 110px 0;

}

.cajita{
    width: 100%;
    height: 100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

.cajita img{
    border-radius: 50%;
    width: 200px;
    height: 200px;
}

.cajita p{
    font-size: 15px;
}
.hipervinculos{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 20px;
    align-items: center;
}

.ultimo {
    margin-top: 10px;
    display: flex;
    text-align: center;
    justify-content: center;
    background-color: rgb(143, 188, 216);
}

.ultimo p {
    color: white;
}


@media (max-width: 768px) {
    header {
        flex-direction: column;
        color: rgb(143, 188, 216);
    }

    nav ul {
        flex-direction: column;
        align-items: center;
    }

    nav ul li {
        padding: 8px 0;
    }

    nav a {
        color: rgb(143, 188, 216);
    }
    .titulo {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin: 5px;
        margin-top: 120px;
    }

    h1 {
        font-size: 40px;
        color: rgb(250, 221, 234);
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }

    .contenedor {
        width: 100%;
        display:flex;
        flex-direction: column;
    }

    .hipervinculos {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    
    .hipervinculos > div {
        position: relative;
        width: 100%;
        padding-top: 56.25%;
        overflow: hidden;
    }
    
    .hipervinculos iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    
    .hipervinculos > div {
            padding-top: 75%;
        }
    }
    